*{
	margin: 0;
	padding: 0;
}
header{
	background: hsla(0, 10%, 50%, 0.1);
	border-bottom: 1px solid hsla(7, 20%, 50%, 0.39);
}
.top-bar{
	position: relative;
	
	padding-top: 10px;
}

.logo{
float: left;
padding: 10px 10px 0 5px;
}
.search{
	float: left;
	margin-right: 150px;
}
.magnify{
	position: relative;
	right: 35px;
	top: 5px;
}

.text-box{
	width: 600px;
	height: 25px;
	padding: 10px;
	box-shadow: 1px 1px 2px #848484
	}

.menu{
	padding-top: 3px;
}
.menu-thumb{
	height: 25px;
	width: 25px;
	padding: 10px;
}

.results-bar{
	margin: 25px 0 0 120px;

}
.top-bar .results-bar li{
	float: left;
	margin-right: 10px;
	list-style-type: none;

}
.top-bar .results-bar li a{
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	font-family: Ariel;
	color: grey;
	padding: 10px 10px;
}
p{
	margin: 0 300px 50px 125px;
	font-family: Ariel;
	font-size: 14px;
}
.first{
	margin: 0 300px 0 125px;
}

p span{
	color: grey;
	font-family: Ariel;
	font-size: 14px;
	padding-top: 20px;
}

h1{
	margin:0 300px 0 125px;
	font-size: 18px;
	color: #3F3FBF;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
h1 a{
	text-decoration: none;
}
h2{
	margin:0 300px 0 125px;
	font-family: "Open Sans", sans-serif;
	color: green;
	font-size: 14px;
	font-weight: normal;
}
.link-list{
	margin: 0 300px 45px 121px;
}
.link-list li{
	list-style-type: none;
	float: left
}

.link-list li a{
	display: inline-block;
	text-decoration: none;
	font-family: Ariel;
	font-size: 14px;
	padding: 5px;
	list-style-type: none;
}
h3{
	margin: 0 300px 25px 125px;
	font-weight: normal;
	font-family: Ariel;
	font-size: 18px;
}
table{
	margin: 0 300px 30px 125px;
}
td{
	font-weight: bold;
	font-family: Ariel;
	font-size: 14px;
	padding: 5px 10px 0 0;
	color:  #3F3FBF;
}
.footer-img{
	margin: 0 300px 0 350px;
}
.footer{
	background: hsla(0, 10%, 50%, 0.1);
	border-top: 1px solid hsla(7, 20%, 50%, 0.39);

}
.footer-text{
	font-size: 14px;
	font-family: Ariel;
	color: #848494;
	margin-left: 125px;
	padding: 10px;
}
.footer-text span{
	font-size: 20px;
	}
.footer-links{
	text-decoration: none;
	color: grey;	
}
.footer ul{
	margin-left: 125px;
}
.footer ul li{
	display: inline-block;	
}
.footer ul li a{
	text-decoration: none;
	color: grey;
	padding: 0 4px 5px 4px;
	font-size: 14px;
	font-family: Ariel;
}
